<app-nav-bar [consultationId]="consultationId"></app-nav-bar>
<div class="card">
    <div class="card-header">
        Patient Information
    </div>
    <div class="card-body">
        <p><strong>Full Name:</strong>
            {{ consultation.patient.firstName }}{{ consultation.patient.lastName }}

        </p>
        <p><strong>Age:</strong>
            {{ consultation.patient.patientInformation.age }}
        </p>
        <p><strong>Gender:</strong>
            {{ consultation.patient.patientInformation.gender }}
        </p>
        <p><strong>Phone Number:</strong>
            {{ consultation.patient.patientInformation.phoneNumber }}
        </p>
        <p><strong>Concerns:</strong> {{ consultation.concerns }}</p>
        <p><strong>Start Time:</strong> {{ consultation.startTime | date:'short' }}</p>
        <p><strong>End Time:</strong> {{ consultation.endTime | date:'short' }}</p>
    </div>

</div>