<app-nav-bar [consultationId]="consultationId"></app-nav-bar>
<app-dashboard-button></app-dashboard-button>
<form [formGroup]="prescriptionForm" (ngSubmit)="onSubmit()">
    <div formArrayName="medicines">
      <div *ngFor="let medicine of medicines.controls; let i = index">
        <div class="medicine-group" [formGroupName]="i">
          <div class="form-group">
            <label for="medicineName">Medicine Name</label>
            <input type="text" id="medicineName" formControlName="medicineName" required>
          </div>
          <div class="form-group">
            <label for="morning">Morning</label>
            <input type="number" id="morning" formControlName="morning" required>
          </div>
          <div class="form-group">
            <label for="afternoon">Afternoon</label>
            <input type="number" id="afternoon" formControlName="afternoon" required>
          </div>
          <div class="form-group">
            <label for="night">Night</label>
            <input type="number" id="night" formControlName="night" required>
          </div>
        </div>
      </div>
    </div>
    <button type="button" (click)="addMedicine()">Add Medicine</button>
    <button type="submit">Create Prescription</button>
  </form>
  