<div class="login-container">
    <h2>Login for Patients</h2>
    <form [formGroup]="loginPatientForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" formControlName="email" >
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" formControlName="password">

        </div>
        <button type="submit">Login</button>
    </form>
</div>
