<app-navbar-dashboard></app-navbar-dashboard>

<!-- 
<form [formGroup]="doctorInformationForm" (ngSubmit)="onSubmit()" class="needs-validation">
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" formControlName="price">
    </div>

    <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="number" class="form-control" formControlName="phoneNumber">
    </div>

    <div class="form-group">
        <label for="startTime">Start Time:</label>
        <input type="datetime-local" class="form-control" id="startTime" formControlName="startTime">
    </div>

    <div class="form-group">
        <label for="endTime">End Time:</label>
        <input type="datetime-local" class="form-control" formControlName="endTime">
    </div>


    <button type="submit" class="btn btn-primary" [disabled]="doctorInformationForm.invalid">Submit</button>
</form> -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Doctor Information</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <strong>Price:</strong> {{oneDoctor.doctorInformation.price}}
            </li>
            <li class="list-group-item">
                <strong>Phone Number:</strong> {{oneDoctor.doctorInformation.phoneNumber}}
            </li>
            Availability :
            <li class="list-group-item">
                <strong>From:</strong> {{oneDoctor.doctorInformation.startTime| date:'d MMMM' }}
            </li>
            <li class="list-group-item">
                <strong>To:</strong> {{oneDoctor.doctorInformation.endTime| date:'d MMMM' }}
            </li>
        </ul>
    </div>
</div>
<button class="btn btn-primary mt-3" (click)="navigateToEditDoctor()">Edit Doctor</button>
