<app-logout-button></app-logout-button>
<app-navbar-dashboard></app-navbar-dashboard>

<h1>New Consultations</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>Patient Full Name </span></th>
                                <th><span>Created at</span></th>
                                <th><span>Age</span></th>
                                <th><span>Gender</span></th>
                                <th><span>status</span></th>
                                <th><span>Video call</span></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let consultation of pendingConsultations">
                                <!-- <h1>{{consultation.patient.firstName}}</h1> -->
                                <td>
                                    {{consultation.patient.firstName}} {{consultation.patient.lastName}}
                                </td>
                                <td>
                                    <p>{{ consultation.createdAt | date:'MMM dd, HH:mm' }}</p>
                                </td>
                                <td>
                                    {{consultation.patient.patientInformation.age}}
                                </td>
                                <td>
                                    {{consultation.patient.patientInformation.gender}}
                                </td>
                                <td>
                                    <a
                                        [routerLink]="['/doctors/pending-consultation', consultation.id]">{{consultation.status}}</a>
                                </td>
                                <td><button (click)="openVideoCall(consultation.link)" class="btn btn-warning">
                                        Start Video Call
                                    </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="main-box clearfix">
                    <h1>In Progress Consultations</h1>
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>Patient Full Name </span></th>
                                    <th><span>Created at</span></th>
                                    <th><span>Age</span></th>
                                    <th><span>Gender</span></th>
                                    <th><span>status</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let consultation of acceptedConsultations">
                                    <!-- <h1>{{consultation.patient.firstName}}</h1> -->
                                    <td>
                                        {{consultation.patient.firstName}} {{consultation.patient.lastName}}
                                    </td>
                                    <td>
                                        {{consultation.createdAt}}
                                    </td>
                                    <td>
                                        <!-- {{consultation.age}} -->
                                    </td>
                                    <td>
                                        <!-- {{consultation.gender}} -->
                                    </td>
                                    <td>
                                        <a
                                            [routerLink]="['/doctors/consultation', consultation.id]">{{consultation.status}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>