<h1>New Consultations</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>Full Name</span></th>
                                <th><span>Created at</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let consultation of consultations">
                                <!-- <h1>{{consultation.patient.firstName}}</h1> -->
                                <td>
                                    <a href="#" class="user-link">{{consultation}} </a>
                                </td>
                                <td>
                                    {{consultation.createdAt}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
