<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/doctors/dashboard']">Consultations</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/doctors/completed-consultation']">Completed Consultations</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/doctors/declined-consultation']">Declined Consultations</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/doctors/details']">My Details</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/doctors/agenda']">My Agenda</a></li>
    </ul>
</nav>